@model IEnumerable<Shop.Web.Data.Entities.Cita>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                @if (this.User.IsInRole("Admin"))
                {
                    <th>

                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Especialidad)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
